<div class="language-switcher flex items-center space-x-1 bg  border border-[#D9AE79] rounded-md p-1">
  <button
    type="button"
    (click)="switchLanguage('en')"
    class="px-2 py-1 text-sm font-medium rounded-sm transition-all duration-200"
    [ngClass]="{
      'bg-active text-active': currentLang === 'en',
      'hover:bg-secondary hover:bg-opacity-20': currentLang !== 'en'
    }"
  >
    {{ 'EN' | translate }}
  </button>
  <button
    type="button"
    (click)="switchLanguage('fr')"
    class="px-2 py-1 text-sm font-medium rounded-sm transition-all duration-200"
    [ngClass]="{
      'bg-active text-active': currentLang === 'fr',
      'hover:bg-secondary hover:bg-opacity-20': currentLang !== 'fr'
    }"
  >
    {{ 'FR' | translate }}
  </button>
</div>