@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.font-serif {
  font-family: 'Playfair Display', serif;
}

:host {
  display: block;
  box-sizing: border-box;
  background: linear-gradient(140deg, #0A0908 0%, #171717 100%);
  color: #E5BF7D;
}