<div class="table-wrapper">
  <table class="market-table">
    <thead>
      <tr>
        <th>Devise Achetée</th>
        <th>Montant Acheté</th>
        <th>Devise Vendue</th>
        <th>Montant Vendu</th>
        <th>Prix</th>
        <th>Heure Transaction</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions" class="cursor-pointer hover:bg-gray-800 transition-colors">
        
        <td>{{ transaction.devAchn.identifier }}</td>
        <td>{{ transaction.mntAcht }}</td>
        <td>{{ transaction.devVen.identifier }}</td>
        <td>{{ transaction.mntVen }}</td>
        <td>{{ transaction.price }}</td>
        <td>{{ transaction.transactionTime | date:'medium' }}</td>
      </tr>
      <tr *ngIf="transactions.length === 0">
        <td colspan="7" class="no-data">Aucune donnée dans "transaction"</td>
      </tr>
    </tbody>
  </table>
</div>