<div class="table-wrapper">
  <table class="market-table">
    <thead>
      <tr>
        <th class="instrument-col">Devise</th>
        <th>mntDev</th>
        <th>besoinDev</th>
        <th>Position finale</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let position of positions" class="cursor-pointer hover:bg-gray-800 transition-colors">
        <td class="instrument-col">
          <div class="instrument-cell">
            <span class="type-badge fx">FX</span>
            <span class="instrument-name">{{ position.identifier }}</span>
          </div>
        </td>
        <td>{{ position.mntDev }}</td>
        <td>{{ position.besoinDev }}</td>
        <td [ngClass]="getValueClass((position.mntDev - position.besoinDev).toString())">
          {{ position.mntDev - position.besoinDev }}
        </td>
        <td>
          <button class="signal-btn" (click)="openTradePopup(position)">
            Trade
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>