/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  background: linear-gradient(140deg, #0A0908 0%, #171717 100%);
   } /* Set the default font and background color for the body */
