<div class="dashboard-container">
  <!-- Loading state -->
  <div *ngIf="loading" class="loading-state">
    <div class="spinner"></div>
  </div>

  <!-- Error state -->
  <div *ngIf="error" class="error-state">
    <div class="error-message">
      <strong>Erreur !</strong>
      <span>Impossible de charger les données du tableau de bord.</span>
      <button (click)="loadDashboardData()">Réessayer</button>
    </div>
  </div>

  <!-- Dashboard content -->
  <div *ngIf="!loading && !error && stats">
    <h1 class="dashboard-title">Tableau de bord</h1>

    <div class="stats-grid">
      <div class="stat-card">
        <div class="stat-label">Nombre de transactions</div>
        <div class="stat-value">{{ stats.transactionCount }}</div>
      </div>
      <div class="stat-card">
        <div class="stat-label">Montant TND</div>
        <div class="stat-value">{{ formatCurrency(stats.position) }} TND</div>
      </div>
      <div class="stat-card">
        <div class="stat-label">Dernière action</div>
        <div class="stat-value" *ngIf="formatDate(stats.lastAction )!== 'N/A'; else elseBlock">
          {{ formatDate(stats.lastAction)}}
        </div>
        <ng-template #elseBlock>
          Aucune action enregistrée
        </ng-template>
        
      </div>
      
    </div>

    <div class="chart-section">
      <div class="chart-card">
        <h3 class="chart-title">Volume par devise</h3>
        <div class="chart-container"><canvas id="volumeChart"></canvas></div>
      </div>
      <div class="chart-card">
        <h3 class="chart-title">Activité horaire</h3>
        <div class="chart-container"><canvas id="hourlyActivityChart"></canvas></div>
      </div>
      <!-- <div class="chart-card">
        <h3 class="chart-title">Tendances des taux de change</h3>
        <div class="chart-container"><canvas id="exchangeRateChart"></canvas></div>
      </div> -->
    </div>

    <div class="transactions-card">
      <h3 class="transactions-title">Transactions récentes</h3>
      <table class="transactions-table" *ngIf="stats.recentTransactions.length > 0">
        <thead>
          <tr>
            <th>Type</th>
            <th>Détails</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tx of stats.recentTransactions">
            <td class="transaction-type">{{ formatActionType(tx.actionType) }}</td>
            <td class="transaction-details">{{ tx.details }}</td>
            <td class="transaction-time">{{ formatDate(tx.actionTime) }}</td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="!stats.recentTransactions.length" class="empty-table">Aucune transaction récente</p>
    </div>


  </div>
</div>